.App-col-all {
  height:800px;
  width:100%;
}

.categories {
  color: #2196f3;
  font-family: 'Times New Roman', Times, serif;
}

.menubar {
  width:100%;
  text-decoration: none;
  padding: 10px 25px;
  margin-bottom: 2px;
  margin-left:-2px;
  border-bottom: 1px solid#2196f3;
}

.menubar_active {
  width:100%;
  text-decoration: none;
  padding: 10px 25px;
  margin-bottom: 2px;
  margin-left:-2px;
  border-bottom: 1px solid#2196f3;
  color:yellow;  
}

.menubar-color {
  color:#ffffff;
  font-weight:bold;
  font-size:1.2em;
}

.readable-list {
  padding-top:100px;
  padding-left: 20px
}

.menubar:hover {
  color:#000000;
  background-color: #81d4fa;
}

.menubar:active {
  background-color: #01579b;
  color: #ffffff;
}

.remover {
  margin-left:-11px;
}

.float-button {
  float:right;
  padding-top:30px;
  padding-right:50px;
}

.sortByFont {
  font-weight:bold;
  font-size:1.2em;
}

.readable-list-card {
  width:70%;
  height:180px;
  padding-top:15px;
  padding-left:15px;
  background-color:  #e1f5fe;
  border-left: 5px solid cornflowerblue;
}

.readable-list-card-bar {
  width:100%;
  height:60px;
  padding-top:5px;
  padding-left:10px;
}

.card-title {
  font-size:1.4em;
  font-weight:bold;
}

.float-date {
  float:right;
  padding-right:15px;
}

.bold {
  font-weight:bold;
}

.chip-color {
  color: darkblue;
}

/* Tooltip container */
.tooltip2 {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip2 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip2 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip2:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.add-button {
  float:right;
  position: absolute;
  top: 90%;
  left: 94%;
}

.material-icons:hover {
  color: #757575;
}

.edit-font {
  color: #0aa195;
}

.comment-box {
  width:100%;
  height:90px;
  border-top: 2px solid lightgray;
}

.button-add {
  width: 70px;
  height: 30px;
  padding:8px;
  color: #000000;
  background-color: lightgray;
  padding-bottom: 10px;
  padding-top:10px;
}
